/* your styles go here */

.about-me-image {
  background-size: cover;
  height: 450px;
  width: 450px;
}

.contact-header {
  color: white;
}

.skill-icons {
  display: flex;
  font-size: 96px;
  justify-content: space-around;
  padding-top: 3rem;
}
